<html>
    <head>
        <title> Template 5</title>
    <style>
        body
        {
		margin-top: 50px;
		margin-right: 40px;
		margin-bottom: 10px;
		margin-left: 50px;
	}
	
    </style>
    </head>
    <body>
        <center>
        <table border="1" cellpadding="25" width="90%">
            <tr>
                <td rowspan="10" bgcolor="AQUA" width="55"></td>
                <td rowspan="10"><h2><p align="center"> <font style="display: $n1">$name</font></h2></p><br>
                <p align="center"> <font style="display: $n5">$discipline</font><br>
  <font style="display: $n2">$email</font><br>
 <font style="display: $n4">$address</font><br>
<font style="display: $n3">Phone: $contact</font>  </p><br><br><br>
                
		<font style="display: $f1"><p > 10th</p><hr size=2 color="AQUA"> <p><table><tr><td>SCHOOL<td>:<td>$2school</tr><tr><td>PERCENTAGE<td>:<td>$2percentage</tr><tr><td>YEAR OF PASSING<td>:<td>$2yearofpassing</tr><tr><td>BOARD<td>:<td>$board</tr></table></p></font><br>
                <font style="display: $f2"> <p > 12th</p><hr size=2 color="AQUA"> <p><table><tr><td>SCHOOL<td>:<td>$school</tr><tr><td>PERCENTAGE<td>:<td>$percentage</tr><tr><td>YEAR OF PASSING<td>:<td>$1yearofpassing</tr><tr><td>BOARD<td>:<td>$1board</tr></table> </p></font><br>
                <font style="display: $f3"><p>Graduation </p><hr size=2 color="AQUA"> <p> <table><tr><td>BRANCH<td>:<td>$branch</tr><tr><td>UNIVERSITY<td>:<td>$university</tr><tr><td>CGPA<td>:<td>$cgpa</tr><tr><td>YEAR OF PASSING<td>:<td>$yearofpassing</tr></table></p></font><br><br>
                <font style="display: $f4"><p> Personal Details</p><hr size=2 color="AQUA"> <p> <table><tr><td>Father's Name<td>:<td>$father</tr><tr><td>Mother's Name<td>:<td>$mother</tr><tr><td>Date of Birth<td>:<td>$date</tr><tr><td>Gender<td>:<td>$gender</tr><tr><td>Nationality<td>:<td>$nationality</tr><tr><td>Hobbies<td>:<td>$hobby</tr></table></p></font><br>
                <font style="display: $f5"><p> Academic Achievements </p><hr size=2 color="AQUA"> <p><table><tr><td>LANGUAGES<td>:<td>$languages</tr><tr><td>WEB BASED DEVELOPMENT<td>:<td>$web</tr><tr><td>OPERATING SYSTEM<td>:<td>$os</tr><tr><td>TOOLS USED<td>:<td>$tools</tr></table></p></font><br>
                <font style="display: $f6"><p>PROJECTS</p><hr size=2 color="AQUA"> <p> $project</p></font><br>
                <font style="display: $f7"><p> Seminars/Workshops</p><hr size=2 color="AQUA"> <p> $workshop</p></font><br>
                <font style="display: $f8"><p> Co-Curricular Activities </p><hr size=2 color="AQUA"> <p> $achivements</p></font><br><br>
		<font style="display: $f9"><p> Internship  </p><hr size=2 color="AQUA"> <p>$internship </p></font><br><br>            
		</td>
            </tr>
            
           </table><br>
        </center>
    <center>email:  $email   || contact no:   $contact   || D.O.B:  $dob  || Batch: $batch </center>
    </body>
</html>