<html>
    <head>
    </head>
    <body>
        <center>
        <table border="2" cellpadding="15" cellspacing="2" width="90%">
            <tr>
                <td rowspan="2"><font style="display: $n5">$name</font>  </td>
                <td ><font style="display: $n2">$email</font> </td>
            </tr>
            <tr>
              <td> <font style="display: $n4">$address</font></td>
            </tr>
            <tr>
                <td> Branch: $branch</td>
                <td> <font style="display: $n3">Phone: $contact</font> </td>
            </tr>
        </table>
        
        <table border="2" cellpadding="15" cellspacing="2" width="90%" style="display: $f1">
            <tr>
                <td colspan="2" bgcolor="silver"> Educational Qualifications </td>
            </tr>
            <tr>
                <td colspan="2"><font style="display: $n1"><b>$branch</b></br>
<table><tr><td>UNIVERSITY<td>:<td>$university</tr><tr><td>CGPA<td>:<td>$cgpa</tr><tr><td>YEAR OF PASSING<td>:<td>$yearofpassing</tr></table></font>
</br>
<font style="display: $n2"><b>TWELVETH - $board</b></br>
<table><tr><td>SCHOOL<td>:<td>$school</tr><tr><td>PERCENTAGE<td>:<td>$percentage</tr><tr><td>YEAR OF PASSING<td>:<td>$1yearofpassing</tr></table></font>
</br>
<font style="display: $n3"><b>TENTH - $2board</b></br>
<table><tr><td>SCHOOL<td>:<td>$2school</tr><tr><td>PERCENTAGE<td>:<td>$2percentage</tr><tr><td>YEAR OF PASSING<td>:<td>$2yearofpassing</tr></table></font>
</br></p> </td>
            </tr>
        </table>
        
        <table border="2" cellpadding="15" cellspacing="2" width="90%" style="display: $f2">
            <tr>
                <td colspan="2" bgcolor="silver">Academic Achievements </td>
            </tr>
            <tr>
                <td colspan="2" ><table><tr><td>LANGUAGES<td>:<td>$languages</tr><tr><td>WEB BASED DEVELOPMENT<td>:<td>$web</tr><tr><td>OPERATING SYSTEM<td>:<td>$os</tr><tr><td>TOOLS USED<td>:<td>$tools</tr></table> </td>
            </tr>
        </table>
        
        <table border="2" cellpadding="15" cellspacing="2" width="90%" style="display: $f3">
            <tr>
                <td colspan="2" bgcolor="silver"> Nontechnical Skills</td>
            </tr>
            <tr>
                <td colspan="2"> $nontechnical</p></td>
            </tr></td>
            </tr>
        </table>
        
        <table border="2" cellpadding="15" cellspacing="2" width="90%" style="display: $f4">
            <tr>
                <td colspan="2" bgcolor="silver"> Personal Details </td>
            </tr>
            <tr>
                <td colspan="2"> <table><tr><td>Father's Name<td>:<td>$father</tr><tr><td>Mother's Name<td>:<td>$mother</tr><tr><td>Date of Birth<td>:<td>$date</tr><tr><td>Gender<td>:<td>$gender</tr><tr><td>Nationality<td>:<td>$nationality</tr><tr><td>Hobbies<td>:<td>$hobby</tr></table></td>
            </tr>
        </table>
        
        <table border="2" cellpadding="15" cellspacing="2" width="90%" style="display: $f5">
            <tr>
                <td colspan="2" bgcolor="silver">Projects </td>
            </tr>
            <tr>
                <td colspan="2">$project </td>
            </tr>
        </table>
        
        <table border="2" cellpadding="15" cellspacing="2" width="90%" style="display: $f6">
            <tr>
                <td colspan="2" bgcolor="silver"> Workshops/ Seminars</td>
            </tr>
            <tr>
                <td colspan="2"> &work</td>
            </tr>
        </table>
        
        
        <table border="2" cellpadding="15" cellspacing="2" width="90%" style="display: $f8">
            <tr>
                <td colspan="2" bgcolor="silver">Internship </td>
            </tr>
            <tr>
                <td colspan="2">&intern </td>
            </tr>
        </table>
<br>
        </center>
    <center>email: $email     || contact no:   $contact   || D.O.B:$dob  || Batch:$batch </center>
    </body>
</html>