<html>
<head>
 <style>
        body
        {
		margin-top: 50px;
		margin-right: 40px;
		margin-bottom: 10px;
		margin-left: 50px;
	}
	
    </style>
</head>
<body>
<p><b>$name</b></br>
$address</br>
ph-$contact</br>
$email
</font>
<p><b>OBJECTIVE</b>
</br>To get a growth oriented position in a reputed organization where my skills can be utilized for improvement and success of an organization.</p></br>
<p><b>EDUCATION</b></br>
<font style="display: $n1"><b>$branch</b></br>
<table><tr><td>UNIVERSITY<td>:<td>$university</tr><tr><td>CGPA<td>:<td>$cgpa</tr><tr><td>YEAR OF PASSING<td>:<td>$yearofpassing</tr></table></font>
</br>
<font style="display: $n2"><b>TWELVETH - $board</b></br>
<table><tr><td>SCHOOL<td>:<td>$school</tr><tr><td>PERCENTAGE<td>:<td>$percentage</tr><tr><td>YEAR OF PASSING<td>:<td>$1yearofpassing</tr></table></font>
</br>
<font style="display: $n3"><b>TENTH - $2board</b></br>
<table><tr><td>SCHOOL<td>:<td>$2school</tr><tr><td>PERCENTAGE<td>:<td>$2percentage</tr><tr><td>YEAR OF PASSING<td>:<td>$2yearofpassing</tr></table></font>
</br></p>
<p><font style="display: $n4"><b>SKILL SET</b></br><b>Technical:</b></br>
<table><tr><td>LANGUAGES<td>:<td>$languages</tr><tr><td>WEB BASED DEVELOPMENT<td>:<td>$web</tr><tr><td>OPERATING SYSTEM<td>:<td>$os</tr><tr><td>TOOLS USED<td>:<td>$tools</tr></table></font></p>
<p><font style="display: $n5"><b>Non Technical:</b></br>$nontechnical</font></p>
<p><font style="display: $n6"><b>PROJECT DETAILS</b></br>$project</font></p>
<p><b><font style="display: $n7">WORKSHOP ATTENDED</b></br>$workshop</font></p>
<p><b><font style="display: $n8">INTERNSHIP</b></br>$internship</font></p>
<p><b><font style="display: $n9">ACHIEVEMENTS</b></br>$achievement</font></p>
<p><b><font style="display: $1n">PERSONAL DETAILS</b></br>
<table><tr><td>Father's Name<td>:<td>$father</tr><tr><td>Mother's Name<td>:<td>$mother</tr><tr><td>Date of Birth<td>:<td>$date</tr><tr><td>Gender<td>:<td>$gender</tr><tr><td>Nationality<td>:<td>$nationality</tr><tr><td>Hobbies<td>:<td>$hobby</tr></table></font></p>
<p><b>DECLARATION</b></br>I hereby declare that all the information mentioned above is true to my knowledge and I bear the responsibility for the above mentioned particulars.</p>
<p align="right">$name</p></body>
</html>